{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "no-shadow": "off",
    "no-param-reassign": "off",
    "indent": "off",
    "space-before-function-paren": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "arrow-parens": "off",
    "dot-notation": "off",
    "no-trailing-spaces": "off",
    "no-useless-escape": "off",
    "padded-blocks": "off",
    "semi": [
      2,
      "always"
    ],
    "vue/multiline-html-element-content-newline": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/require-default-prop": "off",
    "vue/no-use-v-if-with-v-for": "off",
    "vue/html-indent": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-array-constructor": "off",
    "no-undef": "off" // not needed because of TypeScript
  },
  "ignorePatterns": [
    "**/*.min.*"
  ]
}
